{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'gl/css/style.min.css' %}">
    <title>Bitly - сайт для сокращения ссылок</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="/">
                    <img class="logo__img" src="{% static 'gl/images/icon/bitly_logo.svg' %}" alt="logo">
                </a>
                {% if not user.is_authenticated %}
                <div class="header__auth">
                    <a class="header__auth-link" href="/login">Вход</a>
                    <a class="header__auth-link" href="/reg">Регистрация</a>
                </div>
                {% else %}
                <div class="header__auth">
                    <a class="header__auth-link" href="/profile">Личный кабинет</a>
                    <a class="header__auth-link" href="/create">Создание ссылок</a>
                    <a class="header__auth-link" href="/exit">Выход</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <div class="main__inner">
                <div class="main__content">
                    <h1 class="main__title">
                        Новая система
                        <span>Сокращения URL-адреса</span>
                    </h1>
                    {% if not user.is_authenticated %}
                    <a class="main__button" href="/reg">
                        Начать прямо сейчас
                    </a>
                    {% else %}
                    <a class="main__button" href="/create">
                        Создать
                    </a>
                    {% endif %}
                </div>
                <div class="main__aside">
                    <img class="main__pick" src="{% static 'gl/images/main_pic.png' %}" alt="img">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__copy">
                    © 2022 Bitly
                </div>
                <a class="logo" href="#">
                    <img class="logo__img" src="{% static 'gl/images/icon/bitly_logo.svg' %}" alt="logo">
                </a>
            </div>
        </div>
    </footer>


    <script src="{% static 'gl/js/main.min.js' %}"></script>
</body>

</html>