{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'gl/css/style.min.css' %}">
    <title>Страница регистрации</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner header_auth">
                <a class="logo" href="/">
                    <img class="logo__img" src="{% static 'gl/images/icon/bitly_logo.svg' %}" alt="logo">
                </a>
            </div>
        </div>
    </header>

    <main class="main main_auth">
        <div class="container">
            <div class="main_auth__inner">
                <h1 class="main_authUp__title">Зарегистрируйтесь и начните сокращать</h1>
                <p class="main_auth__text">
                    У Вас уже есть аккаунт?
                    <a class="main_auth__link" href="/login">Вход</a>
                </p>

                <form class="main_auth__form" method="post">
                    {% csrf_token %}
                    <label class="main_auth__label">
                        <p class="error_name">{{ form.errors.username }}</p>
                        Никнейм
                        <div class="main_auth__inputs">{{ form.username }}</div>
                    </label>

                    <label class="main_auth__label">
                        <p class="error_name">{{ form.errors.email }}</p>
                        E-mail
                        <div class="main_auth__inputs">{{ form.email }}</div>
                    </label>

                    <label class="main_auth__label">
                        <p class="error_name">{{ form.errors.password1 }}</p>
                        Пароль
                        <div class="main_auth__inputs">{{ form.password1 }}</div>
                    </label>

                    <ul class="main_authUp__list">
                        <li class="main_authUp__item">8 и более символов</li>
                        <li class="main_authUp__item">Не менее одной буквы</li>
                        <li class="main_authUp__item">Не менее одной цифры</li>
                        <li class="main_authUp__item">Один специальный символ</li>
                    </ul>
                    <button class="main_auth__btn" type="submit">Зарегистрируйтесь</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>